/* src/components/organisms/SiteHeader.module.scss */
@use '../../assets/styles/variables.scss' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacia el Logo, Título y Perfil */
  padding: 0 $grid-unit * 4;
  min-height: $grid-unit * 4;
  overflow: visible; //Permitir que los hijos sobresalgan
  position: relative; //Necesario para posicionar hijos de forma absoluta 

  background-image: url('../../assets/fondo-header.jpg');
  //CONFIGURAR CÓMO SE MUESTRA LA IMAGEN DE FONDO
  background-size: cover;      // La imagen cubrirá todo el espacio disponible
  background-position: center; // Centra la imagen
  background-repeat: no-repeat; // Evita que la imagen se repita
  
  // Opcional: Una sombra sutil
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.logoWrapper {
    position: absolute; /*Sacamos el logo del flujo normal de Flexbox */
    left: $grid-unit * 2; /* Lo alineamos con el padding izquierdo */
    top: 50%; /* Lo posicionamos al 50% vertical */
    transform: translateY(-50%); /* Lo centramos verticalmente */
    z-index: 10; /* Aseguramos que esté sobre la imagen de fondo */
}
.pageTitle {
  /* Título principal: RESERVÁ */
  font-size: $grid-unit * 4;
  font-weight: 700;
  color: $color-accent-lima; /* Color de acento verde para el título */
  text-transform: uppercase;
  margin: 0 auto;
  flex-grow: 1;
  text-align: center;
}
.userStatus {
  display: flex;
  align-items: center;
}

.profileIcon {
  font-size: $grid-unit * 4; /* 32px para el ícono de perfil */
  cursor: pointer;
}